[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
User=nexus
Group=nexus
ExecStart=/opt/nexus-3.70.1-02/bin/nexus start
ExecStop=/opt/nexus-3.70.1-02/bin/nexus stop
Restart=on-abort

[Install]
WantedBy=multi-user.target

